@font-face {
  font-family: "meid";
  src: url(./fonts/FontsFree-Net-Miedinger-W01-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
    width: 100%;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content img{
    filter: grayscale(100%) brightness(60%);
}

.header-content h1 {
  position: absolute;
  color: white;
  font-family: "meid";
  text-align: center;
  font-size: 1.2rem;
  padding: 3rem;
}

.header-content span {
    /* color: #ff5652; */
}

header img {
  width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
}

nav img {
    width: 2rem;
    margin: 1rem;
}

.bar {
    width: 1.5rem;
    height: 3px;
    background-color: white;
    margin-top: 5px;
    border-radius: 1rem;
}

.hamburger {
margin: 1rem;
width: 2rem;
height: 2rem;
}