@font-face {
  font-family: "meid";
  src: url(./fonts/FontsFree-Net-Miedinger-W01-Bold.ttf);
}

@font-face {
  font-family: "anek";
  src: url(./fonts/AvenirLTStd-Book.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content img {
  filter: grayscale(100%) brightness(60%);
}

/* header text animation */
@keyframes headertext {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
  }

  90% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.headertext {
  animation: headertext 2s ease-out both;
}

.header-content h1 {
  position: absolute;
  color: white;
  font-family: "meid";
  text-align: center;
  font-size: 0.45rem;
  padding: 2rem;
}

.header-content span {
  /* color: #ff5652; */
}

header img {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
  width: 100%;
}

nav img {
  width: 1rem;
  margin: 1rem;
}

/* hamburger menu */
.hamburger {
  
}

/* sign in with discord */

.discord {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 1rem;
  background-color: #0a0a0a;
  gap: 1rem;
}

.discord button {
  padding: 0.2rem;
  border: 0.1rem solid #ff5652;
  border-radius: 0.6rem;
  font-size: 0.5rem;

  text-align: center;
}

.discord-button {
  background-color: #ff5652;
  width: 9rem;
  color: white;
  cursor: pointer;
  transition: ease 0.5s;
  font-family: 'anek';
  line-height: -1rem;
}

.discord-button:hover {
  filter: brightness(80%);
  transition: ease 0.5s;
}

.features-button {
  background-color: transparent;
  width: 7rem;
  color: #ff5652;
  cursor: pointer;
  transition: ease 0.5s;
  font-family: 'anek';
}

.features-button:hover {
  background-color: #ff5652;
  color: white;
  transition: ease 0.5s;
}